@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-nunito: Nunito;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-base: 16px;
  --font-size-3xs: 10px;
  --font-size-lg: 18px;
  --font-size-mini-4: 14.4px;
  --font-size-2xl-6: 21.6px;
  --font-size-mid: 17px;
  --font-size-xs-2: 11.2px;
  --font-size-smi-9: 12.9px;
  --font-size-base-6: 16.6px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --blue-gray-60: #5e626e;
  --blue-gray-80: #343741;
  --color-ghostwhite: #eff1f7;
  --color-gray-100: #fbfbfb;
  --color-gray-200: rgba(255, 255, 255, 0.9);
  --color-gray-300: rgba(255, 255, 255, 0.8);
  --color-gray-400: rgba(255, 255, 255, 0.4);
  --color-gray-500: rgba(255, 255, 255, 0.2);
  --color: #4a77ff;
  --yellow-40: #ffe76b;
  --nephritis-05: #e9f7ef;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #cfded6;
  --trabuddy-alternative: #00c696;
  --color-darkturquoise: #40e2e8;
  --color-azure: #edfcff;
  --blue-gray-40: #c1c5cf;
  --color-lightslategray-100: #8f919c;
  --color-lightslategray-200: #7a8fad;
  --color-lightslategray-300: rgba(143, 145, 156, 0.09);
  --color-skyblue: #82bfd4;
  --color-yellow: #fbff23;
  --color-lightskyblue: #8bc4ff;

  /* Gaps */
  --gap-12xl: 31px;
  --gap-99xl: 118px;
  --gap-40xl: 59px;
  --gap-10xl: 29px;
  --gap-mini: 15px;
  --gap-43xl: 62px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-26xl-5: 45.5px;
  --gap-4xl: 23px;
  --gap-xl: 20px;
  --gap-mid: 17px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-332xl: 351px;
  --gap-25xl: 44px;
  --gap-156xl: 175px;
  --gap-69xl: 88px;
  --gap-7xs: 6px;
  --gap-54xl-2: 73.2px;
  --gap-15xl: 34px;
  --gap-11xs-4: 1.4px;
  --gap-mini-4: 14.4px;
  --gap-9xs: 4px;
  --gap-9xs-7: 3.7px;
  --gap-5xs-5: 7.5px;
  --gap-3xl: 22px;
  --gap-17xl: 36px;
  --gap-mid-3: 17.3px;
  --gap-mini-8: 14.8px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-61xl: 80px;
  --padding-341xl: 360px;
  --padding-161xl: 180px;
  --padding-33xl: 52px;
  --padding-71xl: 90px;
  --padding-12xs: 1px;
  --padding-base: 16px;
  --padding-16xl: 35px;
  --padding-5xs: 8px;
  --padding-3xl: 22px;
  --padding-28xl: 47px;
  --padding-10xs: 3px;
  --padding-336xl: 355px;
  --padding-xl: 20px;
  --padding-158xl: 177px;
  --padding-69xl: 88px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-2xs: 11px;
  --padding-2xl: 21px;
  --padding-7xs: 6px;
  --padding-5xl: 24px;
  --padding-4xs-5: 8.5px;
  --padding-96xl: 115px;
  --padding-38xl: 57px;
  --padding-4xs: 9px;
  --padding-20xl: 39px;
  --padding-3xs: 10px;
  --padding-13xl-5: 32.5px;
  --padding-11xl-6: 30.6px;
  --padding-11xl-3: 30.3px;
  --padding-17xl: 36px;
  --padding-11xs: 2px;
  --padding-26xl: 45px;
  --padding-41xl: 60px;
  --padding-2xs-8: 10.8px;
  --padding-21xl: 40px;
  --padding-21xl-5: 40.5px;
  --padding-13xl: 32px;
  --padding-6xs: 7px;
  --padding-lg-1: 18.1px;
  --padding-5xs-3: 7.3px;
  --padding-35xl: 54px;
  --padding-32xl: 51px;
  --padding-26xl-2: 45.2px;
  --padding-12xl: 31px;
  --padding-27xl: 46px;
  --padding-572xl: 591px;
  --padding-445xl: 464px;
  --padding-784xl: 803px;
  --padding-1314xl: 1333px;
  --padding-1315xl: 1334px;
  --padding-125xl: 144px;
  --padding-14xl-2: 33.2px;
  --padding-smi-2: 12.2px;
  --padding-15xl-7: 34.7px;
  --padding-12xs-1: 0.1px;
  --padding-xs-1: 11.1px;
  --padding-3xl-5: 22.5px;
  --padding-18xl: 37px;
  --padding-14xl: 33px;
  --padding-42xl-1: 61.1px;
  --padding-42xl: 61px;
  --padding-5xl-5: 24.5px;
  --padding-15xl: 34px;
  --padding-sm: 14px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-12xs-5: 0.5px;
  --br-2xs-8: 10.8px;
  --br-7xs: 6px;
  --br-11xs: 2px;
  --br-7xs-4: 5.4px;
  --br-11xs-8: 1.8px;
  --br-xs-1: 11.1px;
  --br-7xs-5: 5.5px;
  --br-11xs-9: 1.9px;
}